@charset "UTF-8";

:root {
    --cor1: #A64B37;
    --cor2: #BFA18F;
    --cor3: #735645;
    --cor4: #D9D4D0;
    --cor5: #F26430;
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--cor1);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    width: 270px;
    height: 480px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    position: relative;
    width: 100%;
    height: 40%;
    background-image: url(../imagens/paisagem-login.jpg);
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

section#login > div#form > h2 {
    text-align: center;
    margin-bottom: 5px;
}

section#login > div#form > p {
    font-size: 0.8em;
}

div.caixa {
    color: white;
    border-radius: 10px;
    display: block;
    background-color: var(--cor1);
    height: 35px;
    padding: 4px 0;
    margin: 10px 0;
}

div.caixa > label > span {
    font-size: 2em;
    width: 40px;
    text-align: center;
}

input {
    border: none;
    height: 115%;
    width: calc(100% - 45px);
    transform: translateY(-40%);
    border-radius: 10px;
    background-color: #BFA18F;
    font-size: 1em;
}

input:focus-within {
    background-color: white;
}

#ienviar {
    background-color: var(--cor5);
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 35px;
    display: block;
    transform: translateY(0);
}

#ienviar:hover {
    background-color: #af4924;
    transition: 300ms;
}

#iesq {
    text-decoration: none;
    display: block;
    background-color: var(--cor5);
    border-radius: 5px;
    padding: 6px 5px 0 4px;
    color: white;
    font-size: 1em;
    display: block;
    width: 100%;
    text-align: center;
    height: 35px;
    margin-top: 5px;
}

#iesq:hover {
    background-color: #af4924;
    transition: 300ms;
}

#iesq > span {
    font-size: 0.8em;
}